.Projects{
    width: 90%;
    margin: 4rem auto 0rem auto;
    padding: 10px;
}

.ProjectList{
    margin: 30px 0;
}

.Projects h2 span, .Projects p span{
    text-transform: none;
}


.Projects p{
   text-align: justify;
   margin: 15px 0;
}

.ProjectList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

