.NavItems{
    margin: 0px;
    padding:0;
    display: block;
    justify-content: left;
}

:root {
    --mainColor: #fa8072;

  }

.NavItems a{
    text-decoration: none;
    color: #121212;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent 5px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  display: block;
  margin: 1rem 0.5rem;
  padding-left: 0.4rem;
  text-decoration: none;
  
}

.NavItems a:hover,
.NavItems a:active, 
.NavItems a.active {
  background:
  linear-gradient(
    to right,
    var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent
  );
  } 

  /*--------Media query for desktop---------*/

  @media (min-width: 500px){
    .NavItems{
      display: flex;
      justify-content: center;
  }
  
  
  .NavItems a{
      background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
      transition: background-size .2s;
      margin: 0px 1rem;
      padding-left: 0rem;
  }
  
  .NavItems a:hover,
  .NavItems a:active, 
  .NavItems a.active {
      background-size: 4px 50px;
    } 
  
  }