.NavItems{
    margin: 0 0 30px 0;
    padding:0;
    display: block;
    justify-content: left;
}

.NavItems li{
    font-weight: bold;
    list-style-type: none;
    padding: 0px 10px;
    margin: 15px 0px;
}


:root {
    --mainColor: #fa8072;
  }

.NavItems a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent 5px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

.NavItems a:hover,
.NavItems a:active, 
.NavItems a.active {
  background:
  linear-gradient(
    to right,
    var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent
  );
  } 

  /*--------Media query for desktop---------*/

  @media (min-width: 500px){
    .NavItems{
      display: flex;
      justify-content: center;
  }
  
  .NavItems li{
      margin:0px;
  }
  
  .NavItems a{
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
      color: #000;
      transition: background-size .2s;
      padding-left: 0px;
  }
  
  .NavItems a:hover,
  .NavItems a:active, 
  .NavItems a.active {
      background-size: 4px 50px;
    } 
  
  }