.Welcome {
    width: 60%;
    margin: 2rem auto;
}

.Welcome p{
    font-size: 1.5em;
    text-align: center;
}

.Welcome_text{
    text-align: center;
}

.buttonProjects{
    background-color: #fa8072;
    border:0px;
    border-radius: 22.5px;
    width: 40%;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    color: #FFF;
    box-shadow: #CCC;
    font-weight: 500;
    box-shadow: 3px 2px 2px #CCC;
    outline: 0;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}


/* -----------MOBILE STYLES------------*/

@media (max-width: 500px){

    .Welcome {
        width: 80%;
    }
      
    .Welcome p{
        font-size: 1em;
        width: 100%;
        text-align: center;
    }

    
    .Welcome_text{
        margin: 0rem auto;
        text-align: center;
    }

    h1{
        font-size: 1.5rem;
    }

    .buttonProjects{
        width: 70%;
        margin: 1rem auto;
        font-size: 0.7rem;
    }
}