.Welcome {
    width: 80%;
    margin: 30px auto;
    display: flex;
}

.Welcome img{
    width: 40%;
    
}

.Welcome p{
    text-transform: uppercase;
    font-size: 2em;
    width: 50%;
    text-align: left;
    margin-left: 5rem;
}

@media (max-width: 500px){
    .Welcome {
        display: block;
    }
    
    .Welcome img{
        width: 100%;
        margin: 0px auto;
        
    }
    
    .Welcome p{
        font-size: 1em;
        width: 100%;
        text-align: center;
        margin-left: 0rem;
        margin-top: 3rem;
    }
}