.Toolbar{
    box-sizing: border-box;
    z-index:90;
    margin:0;
    padding: 0;
    align-self: flex-end;
    
}

/*-------Hide toolbar when sidedrawer is open---------*/

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}

