.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
} 


/*Styling the language select*/

.Lang_Select select{
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    border: 1px solid #121212;
    background-color:#fff;
    color: #121212;
    padding: 0.1rem 0.2rem;
    outline: none;
}







