.Header{
    background-color: #EEE;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
    position: relative;
}

h1{
    font-size: 2em;
    margin: 5px 0;
    text-transform: uppercase;
}

h2{
    font-size: 1.5em;
    margin: 5px 0;
}

@media (max-width: 500px){
    h1{
        font-size: 1.5em;
    }
}

.Lang_Select{
    position: absolute;
    top:2px;
    right:2px;
}

select{
    color: #fa8072;
    border-color: #fa8072;
}