.Aboutme{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

.Aboutme h2{
    color:#fa8072;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.Aboutme p{
   text-align: justify;
   margin: 15px 0;
}

.Aboutme ul{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

.Aboutme li{
   list-style-type: none;
}

.Aboutme img{
    width: 100%;
    height: auto;
    max-width: 70px;
}

.Aboutme span{
    text-transform: none;
}